#lp_button {
  position: absolute;
  top: 50%;
  right: 42%;
  width: 17%;
}

#lp_text {
  position: absolute;
  top: 40%;
  right: 35%;
  left: 2%;
  color: white;
}

/* Got help with the video positioning below from Stack Overflow
(https://stackoverflow.com/questions/36949747/make-video-fit-100-with-any-screen-resolution) */

.video-container {
  position: absolute;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
